
## 프로그래밍 기반 데이터 전처리

In [1]:
import pandas

In [2]:
import pandas as pd # 별칭을 지어보자

pandas의 series와 dataframe

1. 1차원 1개의 colunmn은 series라고 합니다
2. 2차원 데이터는 data frame 이라고 함

In [3]:
pd.Series([1, 2, 3, 4]) # S는 대문자

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
companyAD = [['삼성전자', '갤럭시S20', 5000],
              ['현대', '펠리세이드', 1000],
              ['네이버', '네이버패이', 500]]

In [7]:
df = pd.DataFrame(companyAD)
df

      0       1     2
0  삼성전자  갤럭시S20  5000
1    현대   펠리세이드  1000
2   네이버   네이버패이   500

In [8]:
df.columns = ['광고주', '브랜드', '집행금액']
df

    광고주     브랜드  집행금액
0  삼성전자  갤럭시S20  5000
1    현대   펠리세이드  1000
2   네이버   네이버패이   500

In [9]:
df['광고주']

0    삼성전자
1      현대
2     네이버
Name: 광고주, dtype: object

In [10]:
df2 = pd.read_csv('http://scottyoon.cafe24.com/data/brand_ad_ex.csv')
df2

        광고주     브랜드         시작일         종료일  Impression   Click   재생 완료
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615    72.0    1937
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077    11.0    2070
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107    25.0    5211
3       NaN   브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715     6.0    1091
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832    16.0    1264
6     ㈜ FFF   브래드 7  2020-07-03  2020-08-17        1851     NaN    1123
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082    73.0   48945
8     ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246   129.0    8624
9     ㈜ GGG  브래드 10  2020-07-10  2020-09-30       25170    34.0   14500
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674    27.0    1525
11      NaN  브래드 12  2020-08-01  2020-08-31       10869    35.0    8122
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739   342.0  111435
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595     2.0    1929
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413    57.0   11269
15    ㈜ LLL  브래드 16  2020-07-01  2020-08-16       33930     NaN   25111
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977    29.0    4286
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873    68.0    1728
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970    43.0   10961

In [12]:
df[['광고주', '집행금액']]

    광고주  집행금액
0  삼성전자  5000
1    현대  1000
2   네이버   500

In [13]:
df.columns

Index(['광고주', '브랜드', '집행금액'], dtype='object')

In [16]:
new_col = ['adv', 'brand', 'price']

In [17]:
df.columns = new_col

In [18]:
df

    adv   brand  price
0  삼성전자  갤럭시S20   5000
1    현대   펠리세이드   1000
2   네이버   네이버패이    500

In [23]:
df2.info

<bound method DataFrame.info of         광고주     브랜드         시작일         종료일  Impression   Click   재생 완료
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615    72.0    1937
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077    11.0    2070
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107    25.0    5211
3       NaN   브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715     6.0    1091
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832    16.0    1264
6     ㈜ FFF   브래드 7  2020-07-03  2020-08-17        1851     NaN    1123
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082    73.0   48945
8     ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246   129.0    8624
9     ㈜ GGG  브래드 10  2020-07-10  2020-09-30       25170    34.0   14500
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674    27.0    1525
11      NaN  브래드 12  2020-08-01  2020-08-31       10869    35.0    8122
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739   342.0  111435
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595     2.0    1929
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413    57.0   11269
15    ㈜ LLL  브래드 16  2020-07-01  2020-08-16       33930     NaN   25111
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977    29.0    4286
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873    68.0    1728
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970    43.0   10961>