
## 프로그래밍 기반 데이터 전처리

###1) index를 활용한 범위 선택

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('http://scottyoon.cafe24.com/data/brand_ad_ex.csv')

In [ ]:
df[3:5] # 인덱스 번호 3번부터 4번까지

     광고주    브랜드         시작일         종료일  Impression   Click   재생 완료
3    NaN  브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422
4  ㈜ DDD  브래드 5  2020-06-25  2020-08-19        1715     6.0    1091

In [ ]:
df.iloc[3:8, [0, 2]]

     광고주         시작일
3    NaN  2020-08-04
4  ㈜ DDD  2020-06-25
5  ㈜ EEE  2020-08-01
6  ㈜ FFF  2020-07-03
7  ㈜ GGG  2020-06-26

In [ ]:
df.iloc[3:8, :]

     광고주    브랜드         시작일         종료일  Impression   Click   재생 완료
3    NaN  브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422
4  ㈜ DDD  브래드 5  2020-06-25  2020-08-19        1715     6.0    1091
5  ㈜ EEE  브래드 6  2020-08-01  2020-08-31        5832    16.0    1264
6  ㈜ FFF  브래드 7  2020-07-03  2020-08-17        1851     NaN    1123
7  ㈜ GGG  브래드 8  2020-06-26  2020-08-31       63082    73.0   48945

In [ ]:
df.loc[:, ['광고주', '브랜드', '시작일']]

        광고주     브랜드         시작일
0   (유) AAA   브랜드 1  2020-08-01
1     ㈜ BBB   브래드 2  2020-08-01
2     ㈜ CCC   브래드 3  2020-07-24
3       NaN   브래드 4  2020-08-04
4     ㈜ DDD   브래드 5  2020-06-25
5     ㈜ EEE   브래드 6  2020-08-01
6     ㈜ FFF   브래드 7  2020-07-03
7     ㈜ GGG   브래드 8  2020-06-26
8     ㈜ GGG   브래드 9  2020-08-01
9     ㈜ GGG  브래드 10  2020-07-10
10    ㈜ HHH  브래드 11  2020-08-01
11      NaN  브래드 12  2020-08-01
12    ㈜ III  브래드 13  2020-08-01
13    ㈜ JJJ  브래드 14  2020-08-01
14    ㈜ KKK  브래드 15  2020-07-31
15    ㈜ LLL  브래드 16  2020-07-01
16    ㈜ MMM  브래드 17  2020-07-31
17    ㈜ NNN  브래드 18  2020-07-10
18    ㈜ OOO  브래드 19  2020-07-24

In [ ]:
df.loc[2:5, '브랜드':'종료일']

     브랜드         시작일         종료일
2  브래드 3  2020-07-24  2020-08-31
3  브래드 4  2020-08-04  2020-08-10
4  브래드 5  2020-06-25  2020-08-19
5  브래드 6  2020-08-01  2020-08-31

###4) 조건을 추가해서 데이터 불러오기

In [ ]:
df.loc[df['Click'] > 100]

      광고주     브랜드         시작일         종료일  Impression   Click   재생 완료
3     NaN   브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422
8   ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246   129.0    8624
12  ㈜ III  브래드 13  2020-08-01  2020-08-31      144739   342.0  111435

In [ ]:
df.loc[df['Click'] > 100, ['광고주', '시작일']]

      광고주         시작일
3     NaN  2020-08-04
8   ㈜ GGG  2020-08-01
12  ㈜ III  2020-08-01