*
## 프로그래밍 기반 데이터 전처리

###1) 결측값 처리

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://scottyoon.cafe24.com/data/brand_ad_ex.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   광고주         17 non-null     object
 1   브랜드         19 non-null     object
 2   시작일         19 non-null     object
 3   종료일         19 non-null     object
 4   Impression  19 non-null     int64
 5   Click       17 non-null     float64
 6   재생 완료       19 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.2+ KB

In [4]:
df2 = df.copy() # 원본 데이터는 유지

In [5]:
df2['Click'] = df2['Click'].fillna(0)   #결측값을 0으로 대체한다 
df2['Click']

0       72.0
1       11.0
2       25.0
3     5275.0
4        6.0
5       16.0
6        0.0
7       73.0
8      129.0
9       34.0
10      27.0
11      35.0
12     342.0
13       2.0
14      57.0
15       0.0
16      29.0
17      68.0
18      43.0
Name: Click, dtype: float64

In [9]:
df3 = df.copy()

In [8]:
click_mean = df3['Click'].mean()     # 결측값을 변수의 평균으로 설정함 
df3['Click'] = df3['Click'].fillna(click_mean)
df3['Click']

0       72.000000
1       11.000000
2       25.000000
3     5275.000000
4        6.000000
5       16.000000
6      367.294118
7       73.000000
8      129.000000
9       34.000000
10      27.000000
11      35.000000
12     342.000000
13       2.000000
14      57.000000
15     367.294118
16      29.000000
17      68.000000
18      43.000000
Name: Click, dtype: float64

In [11]:
df3['Click'] = df3['Click'].fillna(df3['Click'].mean())   #위의 명령어를 한줄로 정리 
df3['Click']

0       72.000000
1       11.000000
2       25.000000
3     5275.000000
4        6.000000
5       16.000000
6      367.294118
7       73.000000
8      129.000000
9       34.000000
10      27.000000
11      35.000000
12     342.000000
13       2.000000
14      57.000000
15     367.294118
16      29.000000
17      68.000000
18      43.000000
Name: Click, dtype: float64

In [12]:
df4 = df.copy()

In [13]:
df4.dropna(how='any', inplace=True)     #any 는 하나라도 빠져있으면 제외 inplace=True 결측값을 없앤 것을 계속 없애는 것임
df4

        광고주     브랜드         시작일         종료일  Impression  Click   재생 완료
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615   72.0    1937
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077   11.0    2070
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107   25.0    5211
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715    6.0    1091
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832   16.0    1264
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082   73.0   48945
8     ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246  129.0    8624
9     ㈜ GGG  브래드 10  2020-07-10  2020-09-30       25170   34.0   14500
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674   27.0    1525
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739  342.0  111435
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595    2.0    1929
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413   57.0   11269
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977   29.0    4286
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873   68.0    1728
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970   43.0   10961

In [14]:
df4['Click'] = df4['Click'].dropna()   # click 변수의 결측값만 제외함 
df4

        광고주     브랜드         시작일         종료일  Impression  Click   재생 완료
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615   72.0    1937
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077   11.0    2070
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107   25.0    5211
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715    6.0    1091
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832   16.0    1264
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082   73.0   48945
8     ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246  129.0    8624
9     ㈜ GGG  브래드 10  2020-07-10  2020-09-30       25170   34.0   14500
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674   27.0    1525
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739  342.0  111435
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595    2.0    1929
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413   57.0   11269
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977   29.0    4286
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873   68.0    1728
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970   43.0   10961

###2) 중복값 처리

In [15]:
df5 = df.copy()

In [16]:
df5['광고주']

0     (유) AAA
1       ㈜ BBB
2       ㈜ CCC
3         NaN
4       ㈜ DDD
5       ㈜ EEE
6       ㈜ FFF
7       ㈜ GGG
8       ㈜ GGG
9       ㈜ GGG
10      ㈜ HHH
11        NaN
12      ㈜ III
13      ㈜ JJJ
14      ㈜ KKK
15      ㈜ LLL
16      ㈜ MMM
17      ㈜ NNN
18      ㈜ OOO
Name: 광고주, dtype: object

In [17]:
df5['광고주'].drop_duplicates()

0     (유) AAA
1       ㈜ BBB
2       ㈜ CCC
3         NaN
4       ㈜ DDD
5       ㈜ EEE
6       ㈜ FFF
7       ㈜ GGG
10      ㈜ HHH
12      ㈜ III
13      ㈜ JJJ
14      ㈜ KKK
15      ㈜ LLL
16      ㈜ MMM
17      ㈜ NNN
18      ㈜ OOO
Name: 광고주, dtype: object

In [ ]:
df6 = df.copy()

In [ ]:
df6['광고주'] = df6['광고주'].drop_duplicates(keep='first')
df6

        광고주     브랜드         시작일         종료일  Impression   Click   재생 완료
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615    72.0    1937
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077    11.0    2070
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107    25.0    5211
3       NaN   브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715     6.0    1091
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832    16.0    1264
6     ㈜ FFF   브래드 7  2020-07-03  2020-08-17        1851     NaN    1123
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082    73.0   48945
8       NaN   브래드 9  2020-08-01  2020-10-14       28246   129.0    8624
9       NaN  브래드 10  2020-07-10  2020-09-30       25170    34.0   14500
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674    27.0    1525
11      NaN  브래드 12  2020-08-01  2020-08-31       10869    35.0    8122
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739   342.0  111435
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595     2.0    1929
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413    57.0   11269
15    ㈜ LLL  브래드 16  2020-07-01  2020-08-16       33930     NaN   25111
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977    29.0    4286
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873    68.0    1728
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970    43.0   10961